body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header,
footer {
  background: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

#task-form,
#search-section {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
small.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

#task-list-container {
  min-height: 61dvh;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  display: none;
  font-size: large;
  border-radius: 8px;
}
.deleteBtn{
    color:red;
    border: 1px solid lightcoral;
    background: #dc151544;
    border-radius: 5px;
    transition: transform 0.5s ease
}
.deleteBtn:hover{
    transform: scale(1.2);
}

#clear-section{
    width: 100%;
    display: flex;
    justify-content: end;
}
#clear-section>button{
    color:red;
    border: 1px solid lightcoral;
    border-radius: 5px;
    background: #dc151544;
}